* {
    transition: all 0.1s;
}
body {
    font-family: 'Noto Sans', sans-serif;
}
.eleven-font {
    font-family: 'Noto Serif', serif;
}

.img-brand {
    width: 8em;
}
.bg-white {
    background-color: #fff;
}
.img-fit {
    object-fit: cover;
}
header {
    z-index: 99;
}
#menu {
    z-index: 110;
}
.cursor-pointer {
    cursor: pointer;
}

.bg-dark-transparent {
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(5px);
}

.hover-bg-light {
    background-color: transparent;
}
.hover-bg-light:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000 !important;
}

.menu-close {
    transform: translate(-100%)
}

.menu-open {
    transform: translate(0%);
}

.bg-white-blur {
    background-color: rgba(255, 255, 255, 255,.9);
    backdrop-filter: blur(35px);
}

.bg-jumbotron {
    background-size: cover;
    height: 450px;
    background-attachment: fixed;
}

@media (max-width: 768px) {
    .bg-jumbotron {
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        background-attachment: fixed;
        background-position: center right;
    }
}

.bg-jumbotron-transparent {
    background-color: rgba(0, 0, 0, 0.4);
}

.border-dark-hover {
    border: 3px transparent solid;
}

.border-dark-hover:hover {
    border: 3px #000 solid;
}

.size-button:checked ~ button{
    background-color: #212529;
    color: #fff;
}

#loadPage{
    z-index: 999;
}
#loadPageBg{
    z-index: 998;
}

.close-loading {
    transition: .5s;
    transform: translateY(-100%);
}
.close-loading-bg {
    transition: .8s;
    transform: translateY(-100%);
}
.eleven-outline {
    outline: 3px
}
.btn-eleven:hover {
    background-color: #fff;
    color: #000;
}
.btn-eleven:focus {
    background-color: #fff;
    color: #000;
}
.btn-eleven:active {
    background-color: #fff;
    color: #000;
}

.aside-btn-eleven {
    color: #000;
}
.aside-btn-eleven:hover {
    transition: 0s !important;
    background-color: #212529;
    color: #fff !important;
    border-radius: 5px;
}



/* 
    Admin Area
*/
#adminTopBar {
    margin-left: 220px;

}

#adminMenu {
    width: 220px; 
    background: rgb(255,255,255);
    background: linear-gradient(29deg, rgba(255,255,255,0.76234243697479) 0%, rgba(108,154,193,0.22452731092436973) 100%); backdrop-filter: blur(5px); 
    z-index: 90;
}

#adminMainContent {
    margin-left: 220px;
}

#adminFooter {
    padding-left: 220px;
    z-index: 80;
}

@media (max-width: 768px) {
    aside {
        transform: translateX(-100%);
    }
    #adminTopBar, #adminMainContent {
        margin-left: 0px;
    
    }
    #adminFooter {
        padding-left: 0px !important;
    }
}

#adminMenuBtn {
    position: fixed;
    top: 30px;
    left: 200px;
    z-index: 100;
}
.admin-menu-close {
    margin-left: 0px !important;
}

.admin-menu-open {
    margin-left: 220px !important;
}

.menu-hide {
    left: -20px !important;
}
.title-move {
    padding-left: 50px !important;
}
.menu-active {
    background-color: #212529 !important;
    color: #fff !important;
    border-radius: 5px !important;
}